:root {
	--white-color: #fff;
	--black-color: #000;
	--gold-color: linear-gradient(to top,  rgb(254,193,50),  rgb(253,219,133));
	--green-color: #85ab51;
	--red-color: #f60808;
	--red-color2: #a60606;

}
